<div [ngSwitch]="element" [ngClass]="formControlClasses" [ngStyle]="styles" (click)="clickOnFormControl()">
    <input *ngSwitchCase="'input'" type="text" [readonly]="!selectableSection" [placeholder]="elementStyle.placeholder" [required]="elementStyle.required==='required'" [ngStyle]="elementStyle" >
    <textarea *ngSwitchCase="'textarea'" [readonly]="!selectableSection" [placeholder]="elementStyle.placeholder" [required]="elementStyle.required==='required'" [ngStyle]="elementStyle"></textarea>
    <button *ngSwitchCase="'button'" [ngStyle]="elementStyle" (click)="sendInfo()">Button</button>
    <label *ngSwitchCase="'check'" [ngStyle]="elementStyle">
        Check option
        <input type="checkbox" [required]="elementStyle.required==='required'">
    </label>
    <select *ngSwitchCase="'select'" [required]="elementStyle.required==='required'" [ngStyle]="elementStyle">
        <option>option1</option>
        <option>option2</option>
        <option>option3</option>
    </select>
</div>
{{elementKey$ | async}}
