header{
    background: url("../public/images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    box-sizing: border-box;
    color: white;
    filter: blur(0.7);
    font-size: 1.5em;
    padding: 18% 20% 20% 40%;
}

header h1{
    margin: 0;
}

header p{
    font-style: italic;
    font-weight: lighter;
    line-height: 1.5em;
}
