<section class="form-builder">
    <h2>Form builder</h2>
    <div class="field-work">
        <div class="drag-elements" 
            cdkDropList
            #elementsList="cdkDropList"
            [cdkDropListData]="elements"
            [cdkDropListConnectedTo]="[formElementsList]"
            (cdkDropListDropped)="drop($event)">
        <app-form-control *ngFor="let item of elements" element="{{item}}" cdkDrag></app-form-control>
        </div>
        <form class="created-form"
        cdkDropList
        #formElementsList="cdkDropList"
        [cdkDropListData]="formElements"
        [cdkDropListConnectedTo] = "[elementsList]"
        (cdkDropListDropped)="drop($event)">
            <app-form-control *ngFor="let item of formElements" element="{{item}}" cdkDrag></app-form-control>
        </form>
    </div>
    
</section>